<div data-v-42b414a1="" id="comment_con" class="comment_con">
    <section class="all-comment">
        <div class="type recent">最新评论
            <span class="comment-num">28条</span>
        </div>
        <div class="new-comment-out">
            <div class="each-comment">
                <div class="each-comment-avatar"><img alt="" data-src=""
                                                      src="https://h5static.kuwo.cn/upload/image/4f768883f75b17a426c95b93692d98bec7d3ee9240f77f5ea68fc63870fdb050.png"
                                                      lazy="error"></div>
                <div class="each-comment-msg">
                    <div class="each-comment-nickname"><span>满糖宣言</span> <i class=""></i>
                    </div>
                    <div class="each-comment-content text-selection"><!----> <span
                            class="msg-text">pj版路过</span></div> <!---->
                    <div class="each-comment-time">
                        <div class="time">
                            2019-11-27 17:00:53
                        </div>
                    </div>
                </div>
            </div>
            <div class="each-comment">
                <div class="each-comment-avatar">
                    <img alt=""
                         data-src="http://img2.kuwo.cn/star/userhead/97/6/1555978405899_462350697s.jpg"
                         src="http://img2.kuwo.cn/star/userhead/97/6/1555978405899_462350697s.jpg"
                         lazy="loaded">
                </div>
                <div class="each-comment-msg">
                    <div class="each-comment-nickname"><span>qq1546391307</span> <i
                            class="musicVip"></i></div>
                    <div class="each-comment-content text-selection"><!----> <span
                            class="msg-text">JJ林～你永远都是最优秀的 我也要强大起来</span></div> <!---->
                    <div class="each-comment-time">
                        <div class="time">
                            2019-11-02 08:21:56
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-9fcc0c74="" class="page-wrap">
            <i data-v-9fcc0c74="" class="li-page iconfont icon-icon_pageup notPointer"></i>
            <ul data-v-9fcc0c74="" class="flex_c">
                <li data-v-9fcc0c74="" style="background: rgb(255, 223, 31);">
                    <span data-v-9fcc0c74="" class="notCursor currentPage">1</span>
                </li>
                <li data-v-9fcc0c74="">
                    <span data-v-9fcc0c74="" class="">2</span>
                </li>
            </ul>
            <i data-v-9fcc0c74="" class="li-page iconfont icon-icon_pagedown"></i>
        </div>
    </section>
    <!---->
</div>