<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>热歌榜-围巾音乐排行榜_围巾音乐-听见世界</title>
    <link rel="stylesheet" type="text/css" href="static3.qianqian.com/web/static/c/Q88iH3os.css"
          tppabs="http://static3.qianqian.com/web/static/c/Q88iH3os.css"/>
    <link rel="stylesheet" type="text/css" href="static0.qianqian.com/web/static/c/g3euUiWP.css"
          tppabs="http://static0.qianqian.com/web/static/c/g3euUiWP.css"/>
    <link rel="stylesheet" type="text/css" href="static1.qianqian.com/web/static/c/rkofsBhb.css"
          tppabs="http://static1.qianqian.com/web/static/c/rkofsBhb.css"/>
    <link rel="stylesheet" type="text/css" href="static3.qianqian.com/web/static/c/QiN67s3Q.css"
          tppabs="http://static3.qianqian.com/web/static/c/QiN67s3Q.css"/>
</head>
<body class="channel top-channel" id="subPage" data-tiptaihe="0">

<!-- 太合域名 -->
<div class="responsive narrow-screen top-header-wrapper">

    <!-- start 页面顶部搜索框及用户中心 -->
    <div class="screen-hd clearfix">
        <div class="music-head " monkey="music-head">
            <h1 class="lg" title="千千音乐官网"><a id="bm-logo" title="千千音乐-听见世界">
                <img style="width:123px;height:41px" src="iamges/logo.png" alt="千千音乐-听见世界"/></a></h1>
            <div class="search-wrap">
                <form id="search_form" name="f1" action="http://music.taihe.com/search">
                    <div class="search">
                <span class="s_ipt_wr">
                    <input
                            type="text"
                            name="key"
                            value=""
                            data-value=""
                            data-default="请输入歌名、歌词、歌手或专辑"
                            id="ww"
                            class="kw s_ipt s_ipt_def"
                            size="42"
                            maxlength="100"
                            autocomplete="off"
                    />
                </span><span class="s_btn_wr"><input type="submit" value="" class="s_btn"
                                                     onmousedown="this.className='s_btn '"
                                                     onmouseout="this.className='s_btn'"></span><span
                            class="s_tools"></span>
                        <!-- 去掉s_btn_h类名为搜索点击 onmousedown="this.className='s_btn s_btn_h'"-->
                    </div>
                    <div id="loading-pic"></div>
                    <div class="sug-result"></div>
                </form>
                <div class="search-info">
                    <ul class="hot-search">
                        &emsp;
                        <li>
                            <a class="key"
                               href=""
                               tppabs="http://music.taihe.com/album/670254951">我和我的祖国</a>
                        </li>
                        <li>
                            &nbsp;
                            <a class="key"
                               href=""
                               tppabs="http://music.taihe.com/artist/2517">薛之谦</a>
                        </li>
                        <li>
                            &nbsp;
                            <a class="key"
                               href=""
                               tppabs="http://music.taihe.com/song/606151617">阿果吉曲</a>
                        </li>
                        <li>
                            &nbsp;
                            <a class="key"
                               href=""
                               tppabs="http://music.taihe.com/artist/1925">李宗盛</a>
                        </li>
                        <li>
                            &nbsp;
                            <a class="key"
                               href=""
                               tppabs="http://music.taihe.com/artist/1052">林俊杰</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu-right">
                <div class="menu-user" id="menu-user-con">
                    <div class="menu-login" id="menu-login">
                        <i></i>
                        <p>
                            <a id="loginbtn" href="">登录</a>
                            /
                            <a target="_blank" href="" id="registBtn">注册</a>
                        </p>
                    </div>
                    <div id="userbar" class="userinfo_box">
                    </div>
                </div>
            </div>
            <form style="width:0;height:0;" name="vform" id="vform"
                  action=""
                  tppabs="https://www.baidu.com/?ct=301989888&rn=20&pn=0&db=0&sf/vsearch=&word=">
                <input type="hidden" name="ct" value="301989888">
                <input type="hidden" name="rn" value="20">
                <input type="hidden" name="pn" value="0">
                <input type="hidden" name="db" value="0">
                <input type="hidden" name="sf/vsearch" value="">
                <input type="hidden" name="word" value="">
            </form>
        </div>

        <div class="music-head-nav">
            <!-- <div id="user-info-wrapper">
                <div id="user-info" monkey="NI_user_info"></div>
                <div id="play-info" class="loading" monkey="NI_play_list"></div>
            </div> -->
        </div>
    </div>
    <!-- end 页面顶部搜索框及用户中心 -->

    <!-- start 导航栏 -->
    <div class="nav-wrapper sup-nav-wrapper rsp-custom">
        <div class="screen-hd clearfix">
            <ul class="sup-nav rsp-an-container">
                <!--mis取不到导航数据时，导航容错 -->

                <li>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <a href="" class=" " data-log="nav-home">首页</a>
                </li>
                <li>
                    <a href="songlist.htm" class=" "
                       data-log="nav-music-songlist">歌单</a>
                </li>
                <li>
                    <a href="" class=" " data-log="nav-singer">歌手</a>
                </li>
                <li>
                    <a href="" class=" " data-log="nav-music-cate">分类</a>
                </li>
                <li>
                    <a href="" class="active " data-log="nav-top">榜单</a>
                </li>
                <li>
                    <a href="" class=" " data-log="nav-music-mv">MV</a>
                </li>

            </ul>

        </div>
    </div>
    <!-- end 导航栏 -->
</div>
<div class="music-main" alog-alias="music-main-alog">
    <!-- 侧面菜单栏的样式效果 -->
    <div class="music-main-body">
        <div class="music-body clearfix">
            <div monkey="top-top-ad" class="ad-banner">
            </div>
            <div class="main-body module top-list" id="topdayhot" monkey="top-dayhot">
                <div class="head clearfix">
                    <h2 class="title"> 热歌榜 </h2>
                    <br/>
                    <span class="play-all">
                        <a href="javascript:" class="btn btn-a play-all-hook" data-type="dayhot">
                            <span class="inner">
                                <i class="icon btn-icon-play"></i>
                                <span class="txt">播放榜单</span>
                            </span>
                        </a>
                    </span>
                </div>
                <p class="desc">该榜单是根据围巾音乐平台歌曲每周播放量自动生成的数据榜单，统计范围为围巾音乐平台上的全部歌曲，每日更新一次。</p>
                <div class="top-list-item">
                    <div id="songListWrapper" class="song-list-wrap">
                        <div class="normal-song-list song-list song-list-hook clear song-list-btnBoth  song-list-btnTop song-list-btnBottom">
                            <ul>
                                <!-- 页面索引开始值 -->
                                <!-- 每一个条目的索引值设置 -->
                                <li class="lead-top first bb-dotimg clearfix   song-item-hook   csong-item-hook   ">
                                    <div class="song-item">
                                        <span class="index-num index-hook" style="width: 30px;">1</span>
                                        <span class="status" style="width:30px;"><i class="fair"></i></span>
                                        <span class="songlist-album-cover">
                                            <a href="" target="_blank"
                                               title="演员">
                                                <img src="iamges/index.png" width="41" height="41"/>
                                            </a>
                                        </span>
                                        <!-- 设置截断长度，考虑到有热门歌曲后会跟一个hot标签，需要做相应处理 -->
                                        <span class="fun-icon">
                                            <a class="icon-lossless" title="无损资源" target="_blank" href=""></a>
                                            <!-- yuting添加下架歌曲按钮置灰 -->
                                            <!-- yuting添加下架歌曲按钮置灰  end -->
                                            <span class="music-icon-hook">
                                                <a class="list-micon icon-play" data-action="play" title="播放演员"
                                                   href=""></a>
                                                <a
                                                        class="list-micon icon-add" data-action="add" title="添加演员"
                                                        href=""></a>
                                                <a
                                                        class="list-micon icon-download song-down-vip"
                                                        data-action="download" title="下载演员" href="javascript:"></a>
                                                <a
                                                        class="list-micon icon-collect" data-action="collect"
                                                        title="收藏演员"
                                                        href="javascript:"></a>
                                            </span>
                                        </span>
                                        <span class="song-title " style="width: 240px;">
                                            <a
                                                href=""
                                                tppabs="http://music.taihe.com/song/242078437" target="_blank"
                                                title="薛之谦演员" data-film="null">演员</a>
                                        </span>
                                        <span class="singer" style="width: 240px;">
                                            <span class="author_list" title="薛之谦">
                                                <a hidefocus="true" href="">薛之谦</a>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div monkey="top-bottom-ad" class="ad-banner">
                    <!-- 广告位整体迁移2016.4.14 音乐_PC_网页_榜单详情页_底部原生_790*250-->
                    <!-- <script type="text/javascript" src="//dup.baidustatic.com/js/ds.js"></script> -->
                    <!-- 侧面菜单栏的样式效果 -->
                </div>
            </div>
            <div class="sidebar">
                <div class="tree_top" monkey="nav-dayhot">
                    <div class="top_tree">

                        <div class="module-dotted"></div>
                        <dl class="tree_main">
                            <dt>
                                主打榜单
                            </dt>
                            <dd class="on">
                                <a href="">热歌榜</a>
                            </dd>
                            <dd>
                                <a href="">新歌榜</a>
                            </dd>
                            <dd>
                                <a href="">网络歌曲榜</a>
                            </dd>
                            <dd>
                                <a href="">经典老歌榜</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>